body {
  background-color: #f7dcde;
  font-family: monolinear, sans-serif;
}


/* NAVIGATION BAR */
.navbar {
    display: flex;
    background-color: #faf0e6;
    border-radius: 30px;
    overflow: hidden;
    align-items: center;
    margin-bottom: 10px;
}
.navbar h1{
    color: black;
    float: left;
    padding: 14px 16px;
    text-align: center;
    position: relative;
}
.navbar a {
    float: left; /* Align links in a line */
    display: flex;
    color: black;
    padding: 14px 8px;
    text-decoration: none;
    justify-content: space-evenly;
}
/* animation for nav bar buttons */
.navbar a:hover {
    background-color:#faf8f3;
    color: black;
    border-radius: 90px;
    transform: scale(1.2);
}
@media (max-width: 600px) {
    .navbar a {
        flex-direction: column;
    }
}

/* FOOTER */
footer{
    display: flex;
    background-color: #f8edd9;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: black;
}
footer a{
    text-decoration: none;
    color: black;
    padding: 10px 16px;
}
footer a:hover{
    background-color: #faf8f3;
    border-radius: 90px;
    transform: scale(1.2);
    display: inline-block;
}




/* BODY */

/* .body{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 20px;
} */

/* placing all the body in the middle of the screen */
.middle{
    margin-left: 10%;
    margin-right: 10%;
}
/* background container for the body text  */
.container{
    background-color: #f0ebe3;
    border-radius: 30px;
    margin: 10px auto;    
    max-width: 1100px;
    padding: 30px;
}
/* for separating the text and image aligment */
.textleft-imageright{
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
/*all the text*/
.text, .image{
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    min-width: 0;
    box-sizing: border-box;
}
.heading{
    background-color: #e8e5d4;
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 16px;
    text-align: center;
}
.paragraph{
    padding: 0px 10px;
    margin: 10px;
    text-align: justify;
    line-height: 1.5;
}
/* contact */
.contact{
    display: flex;
    justify-content: center;
}
.contact a{
    text-decoration: none;
    color: black;
    padding: 10px 16px;
}
.contact a:hover{
    background-color: #e8e5d4;
    border-radius: 20px;
}

/* IMAGES */
.image img{
    border-radius: 20px;
    width: 100%;
    height: 350px;
    max-height: 400px;
    object-fit: cover;
    display: block;
}



